page-viaje-encamino{
    ion-select{
        max-width: 100%;
    }
    ion-col{
        padding: 0px !important;
    }
    
    
    hr{
        margin: 0px;
    }

    .labelfirst{
        color: #aaa;
    }
    .texto{
        overflow: unset;
        color: #333;
    }
}