.label-md{
  margin: 3px 3px 3px 3px;
}
.item-md{
  padding-left: 2px;
  padding-right: 2px;
}
.item-inner{
  padding-right: 2px !important;
}
ion-item{
  ion-datetime {
    button {
      position: relative !important;
    }

    .datetime-text {
      overflow: visible;
    }

    flex: 1;
  }
}
.button-set {

  .button {
    padding: 10px 5px;
    background: none;
    box-shadow: none;
    color: color($colors, dark);

    &.active {
      background: color($colors, gray);
      color: color($colors, danger);
    }
  }
}
