page-home{
  .card-header-md {
    font-size: 1.6rem;
    color: #222;
    padding: 16px;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
}
  h1, h3{
    text-align: center;
    font-weight: bold;
    color: crimson;
  }
}